@import url('https://fonts.googleapis.com/css2');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}
.dash{
    padding: 0 10px;
    font-size: 20px;
    margin-left: 100px;
}
.logo{
	position: absolute;
	top: 10px;
	left: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
}
.sidebar img{
    position: absolute; 
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.container{
    position: relative;
    width: 100%;
}
.sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    background: linear-gradient(45deg, #111010, orange);
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.sidebar ul{
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}
.sidebar ul ul{
    position: static;
    display: none;
}
.sidebar ul ul li{
    line-height: 42px;
    border-bottom: none;
}
.sidebar ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}
.sidebar ul li{
    width: 100%;
    list-style: none;
}
.sidebar ul li:hover{
    background: #444;
}
.sidebar ul li:first-child{
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 1px solid #fff;
}
.sidebar ul li:first-child:hover{
    background: none;
}
.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}
.sidebar ul li a:hover{
    color: orange;
    background: #1e1e1e;
    border-left-color: orange;
}
.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}
.sidebar .title{
    padding: 0 10px;
    font-size: 20px;
}
.sidebar.show{
    left: 0px;
}
/* button */
.button-list{
	display: flex;
	justify-content: space-between;
	color: darkorange;
    float: right;
}
.button{
	display: flex;
	align-items: center;
}
.button li{
    margin: 0 50px;
    margin-left: 75px;
    margin-top: 20px;
    margin-bottom: 80px;
}
ul{
	list-style: none;
}
.btn{
    padding: 5px 20px;
    background: orange;
    /* margin-top: 30px; */
    color: #444;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-decoration: none;
}
.btn:hover{
    transition: 1s;
	box-shadow: 2px 2px 5px black;
}
.button i{
    color: #444;
    margin-right: 10px;
}
.button a{
    padding: 15px 15px;
}
/* main */
.main{
    position: absolute;
    width: calc(100% - 300px);
    min-height: 100vh;
    left: 300px;
    background: #f5f5f5;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
}
.user img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
}
.top-bar{
    position: fixed;
    height: 50px;
    width: calc(100% - 300px);
    background: #fff;
    display: grid;
    grid-template-columns: 10fr 0.4fr 1fr;
    grid-gap: 5px;
    align-items: center;
    color: #444;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    z-index: 1;
}
.top-bar .search{
    position: relative;
    max-width: 400px;
}
.search input{
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    background: #f5f5f5;
}
.search i{
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
}
/* table */
.tables{
    margin-top: 60px;
    width: 100%;
    padding: 35px 20px;
    display: block;
    grid-template-columns: repeat(4, 1fr);
}
.table{
    width: 100%;
    display: grid;
    grid-gap: 20px;
    align-items: self-start;
    padding: 0 20px 20px 20px;
}
.img-box-small{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-details{
    margin-top: 50px;
    min-height: 350px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444;
    margin-bottom: 1.2rem;
}
table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}
table tr{
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    text-align: center;
}
table tr:hover
{
    background-color: #444;
    color: #fff;
}
table tbody tr:last-child{
    border-bottom: none;
}
td{
    padding: 9px 5px;
}
td i{
    padding: 7px;
    color: #fff;
    border-radius: 50px;
}
.profile-details table tbody td:last-child{
    white-space: nowrap;
}
.fa-print,
.fa-edit{
    background-color: orange;
}
.user-profile{
    position: relative;
    width: 200px;
    height: 200px;
}
.user-profile img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    margin-left: 370px;
}