*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)),url('logoinback.png');
	background-position: center;  
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.login-form{
	width: 350px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 57%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avatar{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(52% - 50px);
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px; 
}
.login-form p{
	margin: 0;
	padding: 0;
	font-weight: bold;
    margin-bottom: 5px;
}
.login-form input{
	width: 100%;
	margin-bottom:20px;
}
.login-form input[type="text"],input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.login-form input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: darkorange;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	margin-top: 70px;
}
.login-form input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.login-form a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.login-form a:hover{
	color: #ffc107;
}
/* navigation bar */
.navbar{
	position: absolute;
	top: 0;
	right: 0;
	left: 600px;
	display: flex;
	width: 70%;
	justify-content: space-between;
	padding: 30px;
	color: darkorange;
}
.nav-link{
	display: flex;
	align-items: center;
	width: 50vw;
}
.nav-link li{
	margin:0 30px;
	margin-left: 70px;
}
ul{
	list-style: none;
}
.menu-btn{
	position:absolute;
	top: 30px;	
	width: 40px;
	right: 30px;
	cursor: pointer;
	display: flex;
}
.active{
	color: darkorange;
	text-decoration: underline;
	font-weight: bold;
}
.btnlink{
	padding: 8px 15px;
	/* background-color:darkorange; */
	border-radius: 15px;
	color: white;
}

.btnlink:hover {
	background-color:  #ffc107;
	color: white;
	transition: 2s;
	box-shadow: 2px 2px 5px black;
}
a{
	text-decoration: none;
	color: white;
}
.logo{
	position: absolute;
	top: 20px;
	left: 30px;
	right: 30px;
	width: 100px;
	height: 100px;
}
.logo img{
	display: flex;
	flex-direction: column;
	height: 80%;
	width: 80%;
}
.logo img{
	transition: transform .3s ease;
}
.logo img:hover{
	transform: scale(1.1);
}